<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fénix Garden</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Rubik+Mono+One&display=swap"
        rel="stylesheet">
</head>

<body onload="quellueva()">
    <div class="rainyday">
        <div class="container">
            <h1>Fénix Garden</h1>
            <a class="button btn" href="../views/login.html">Lets Go !</a>
            <img id="background" src="" alt="background">
        </div>
    </div>
    <script src="../js/rainyday.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>
