<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="icon" href="../resources/phoenix.ico">
	<link rel="stylesheet" href="../styles/main.css">
	<script src="../js/sideBar.js" type="module" defer></script>
	<script src="../app.js" type="module" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<title>Fenix Garden</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Rubik+Mono+One&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pavanam&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap"
		rel="stylesheet">
</head>

<body>
	<div class="overlay"></div>

	<!-- SIDEBAR -->
	<section id="sidebar">

		<a href="#" class="brand"> <i class="icon fa-brands fa-phoenix-framework fenix"></i> Fenix Garden</a>
		<ul class="side-menu">
			<li><a href="main.html" class="active"><i class="icon fa-solid fa-house"></i></i> Home</a></li>


			<!-- CONSUMERS -->
			<li class="divider" data-text="Customers">Customers</li>
			<li>
				<a href="#" id="all-customers"><i class="icon fa-solid fa-users"></i></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">

					<li id="query-1-customers"><a href="#">Query 1</a></li>
					<li id="query-2-customers"><a href="#">Query 2</a></li>
					<li id="query-3-customers"><a href="#">Query 3</a></li>
					<li id="query-4-customers"><a href="#">Query 4</a></li>
					<li id="query-5-customers"><a href="#">Query 5</a></li>
					<li id="query-6-customers"><a href="#">Query 6</a></li>
					<li id="query-7-customers"><a href="#">Query 7</a></li>
					<li id="query-8-customers"><a href="#">Query 8</a></li>
					<li id="query-9-customers"><a href="#">Query 9</a></li>
					<li id="query-10-customers"><a href="#">Query 10</a></li>
					<li id="query-11-customers"><a href="#">Query 11</a></li>
					<li id="query-12-customers"><a href="#">Query 12</a></li>
					<li id="query-13-customers"><a href="#">Query 13</a></li>
					<li id="query-14-customers"><a href="#">Query 14</a></li>
					<li id="query-15-customers"><a href="#">Query 15</a></li>
					<li id="query-16-customers"><a href="#">Query 16</a></li>
					<li id="query-17-customers"><a href="#">Query 17</a></li>
					<li id="query-18-customers"><a href="#">Query 18</a></li>
					<li id="query-19-customers"><a href="#">Query 19</a></li>
					<li id="query-20-customers"><a href="#">Query 20</a></li>

				</ul>
			</li>
			<!-- OFFICE -->
			<li class="divider" data-text="Offices">Offices</li>
			<li>
				<a href="#" id="all-offices"><i class="icon fa-solid fa-building"></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">

					<li id="query-1-offices"><a href="#">Query 1</a></li>
					<li id="query-2-offices"><a href="#">Query 2</a></li>
					<li id="query-3-offices"><a href="#">Query 3</a></li>
					<li id="query-4-offices"><a href="#">Query 4</a></li>

				</ul>
			</li>
			<!-- EMPLOYEES -->
			<li class="divider" data-text="Employees">Employees</li>
			<li>
				<a href="#" id="all-employees"><i class="icon fa-solid fa-user-tie"></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">

					<li id="query-1-employees"><a href="#">Query 1</a></li>
					<li id="query-2-employees"><a href="#">Query 2</a></li>
					<li id="query-3-employees"><a href="#">Query 3</a></li>
					<li id="query-4-employees"><a href="#">Query 4</a></li>
					<li id="query-5-employees"><a href="#">Query 5</a></li>
					<li id="query-6-employees"><a href="#">Query 6</a></li>
					<li id="query-7-employees"><a href="#">Query 7</a></li>
					<li id="query-8-employees"><a href="#">Query 8</a></li>
					<li id="query-9-employees"><a href="#">Query 9</a></li>
					<li id="query-10-employees"><a href="#">Query 10</a></li>
					<li id="query-11-employees"><a href="#">Query 11</a></li>

				</ul>
			</li>
			<!-- PAYMENT -->
			<li class="divider" data-text="Payment">Payment</li>
			<li>
				<a href="#" id="all-payments"><i class="icon fa-solid fa-credit-card"></i></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">

					<li id="query-1-payments"><a href="#">Query 1</a></li>
					<li id="query-2-payments"><a href="#">Query 2</a></li>
					<li id="query-3-payments"><a href="#">Query 3</a></li>
					<li id="query-4-payments"><a href="#">Query 4</a></li>

				</ul>
			</li>
			<!-- PRODUCTS -->
			<li class="divider" data-text="Products">Products</li>
			<li>
				<a href="#" id="all-products"><i class="icon fa-solid fa-inbox"></i>Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">

					<li id="query-1-products"><a href="#">Query 1</a></li>
					<li id="query-2-products"><a href="#">Query 2</a></li>
					<li id="query-3-products"><a href="#">Query 3</a></li>
					<li id="query-4-products"><a href="#">Query 4</a></li>
					<li id="query-5-products"><a href="#">Query 5</a></li>

				</ul>
			</li>
			<!-- ORDERS -->
			<li class="divider" data-text="Orders">Orders</li>
			<li>
				<a href="#" id="all-orders"><i class='bx bxs-notepad icon'></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">

					<li id="query-1-orders"><a href="#">Query 1</a></li>
					<li id="query-2-orders"><a href="#">Query 2</a></li>
					<li id="query-3-orders"><a href="#">Query 3</a></li>
					<li id="query-4-orders"><a href="#">Query 4</a></li>
					<li id="query-5-orders"><a href="#">Query 5</a></li>
					<li id="query-6-orders"><a href="#">Query 6</a></li>
					<li id="query-7-orders"><a href="#">Query 7</a></li>

				</ul>
			</li>

			<!-- ORDER DETAILS -->
			<li class="divider" data-text="Order Details">Order Details</li>
			<li>
				<a href="#" id="all-orderdetails"><i class="icon fa-solid fa-list-check"></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">

					<li id="query-1-orderdetails"><a href="#">Query 1</a></li>
					<li id="query-2-orderdetails"><a href="#">Query 2</a></li>
					<li id="query-3-orderdetails"><a href="#">Query 3</a></li>
					<li id="query-4-orderdetails"><a href="#">Query 4</a></li>
					<li id="query-5-orderdetails"><a href="#">Query 5</a></li>
					<li id="query-6-orderdetails"><a href="#">Query 6</a></li>

				</ul>
			</li>

			<!-- GAMA -->
			<li class="divider" data-text="Gamas">Gamas</li>
			<li>
				<a href="#" id="all-gamaproducts"><i class="icon fa-solid fa-square-poll-horizontal"></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">

					<li id="query-1-gamaproducts"><a href="#">Query 1</a></li>

				</ul>
			</li>

		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<header class="header">
			<nav>
				<i class='bx bx-menu toggle-sidebar'></i>
				<form action="#">

				</form>

				<span class="divider"></span>
				<div class="profile">
					<span class="username"></span>
					<i class="fa-solid fa-user user"></i>
					<ul class="profile-link">
						<li class="btnLogOut"><a href="#"><i class='bx bxs-log-out-circle'></i> Logout</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="home" id="home"> 
				<h3>Welcome to Fenix Garden</h3>


				<div class="info-page">
					<div class="div-page">
						<p>At Fenix ​​Garden, we understand that every garden has a story to tell, and we are here to help you write yours. From the first bud to the exuberance of flowering, we accompany our clients at every stage of their journey towards a greener and more welcoming home.
						</p>
					</div>
					
					<div id="phoenix-img">
						<img src="../resources/phoenix-page.svg" alt="">

					</div>
				</div>

				<div class="linear"></div>
				<div class="social-container">

					
					<div class="linear"></div>
					<div class="social">
						<div class="card-photo">
							<img src="../resources/RCNicolas.jpg" alt="">
						</div>
						<div class="card-title">Nicolas Ruiz<br>
							<span>Fullstack Dev</span>
						</div>
						<div class="card-socials">
							<button class="card-socials-btn instagram">
								<a target="_blank" href="https://www.instagram.com/nicosanrz/"><i class="fa-brands fa-instagram icon"></i></a>
							</button>
							<button class="card-socials-btn github">
								<a target="_blank" href="https://github.com/RCNicolas"> <i class="fa-brands fa-github icon"></i></a>
							</button>
							<button class="card-socials-btn linkedin">
								<a target="_blank" href="https://www.linkedin.com/in/nicolas-ruiz-95870628b/"><i class="fa-brands fa-linkedin-in icon"></i></a>
							</button>
						</div>
					</div>
			
					<div class="social">
						<div class="card-photo">
							<img src="../resources/jstorra.jpg" alt="">
						</div>
						<div class="card-title">Juan Torra<br>
							<span>Fullstack Dev</span>
						</div>
						<div class="card-socials">
							<button class="card-socials-btn instagram">
								<a target="_blank" href="https://www.instagram.com/jstorra/"><i class="fa-brands fa-instagram icon"></i></a>
							</button>
							<button class="card-socials-btn github">
								<a target="_blank"  href="https://github.com/jstorra"> <i class="fa-brands fa-github icon"></i></a>
							</button>
							<button class="card-socials-btn linkedin">
								<a target="_blank" href="https://www.linkedin.com/in/jstorra/"><i class="fa-brands fa-linkedin-in icon"></i></a>
							</button>
						</div>
					</div>
					<div class="linear"></div>
				</div>
			

			</div>


			<div class="data" id="content-api"></div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
</body>

</html>