<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="icon" href="resources/phoenix.ico">
	<link rel="stylesheet" href="styles/style.css">
	<script src="../js/main.js" type="module" defer></script>
	<script src="../app.js" type="module" defer></script>

	<title>Fenix Garden</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Rubik+Mono+One&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pavanam&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap"
		rel="stylesheet">
</head>

<body>
	<div class="overlay"></div>

	<!-- SIDEBAR -->
	<section id="sidebar">
		<!-- <a href="#" class="brand"><i class='bx bxs-smile icon'></i> Fenix Garden</a> -->
		<!-- <i class="fa-brands fa-phoenix-framework"></i> -->
		<a href="#" class="brand"> <i class="icon fa-brands fa-phoenix-framework fenix"></i> Fenix Garden</a>
		<ul class="side-menu">
			<li><a href="main.html" class="active"><i class="icon fa-solid fa-house"></i></i> Dashboard</a></li>
			<!-- PRODUCTS -->
			<li class="divider" data-text="Products">Products</li>
			<!-- <li><a href="#"><i class='bx bxs-chart icon' ></i> All Products</a></li> -->
			<li>
				<a href="#"><i class="icon fa-solid fa-inbox"></i>Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					<li id="all-products"><a href="#">All products</a></li>
				</ul>
			</li>
			<!-- ORDERS -->
			<li class="divider" data-text="Orders">Orders</li>
			<!-- <li><a href="#"><i class='bx bxs-chart icon' ></i> All Orders</a></li> -->
			<li>
				<a href="#"><i class='bx bxs-notepad icon'></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					<li><a href="#">All orders</a></li>
				</ul>
			</li>
			<!-- CUSOMERS -->
			<li class="divider" data-text="Customers">Customers</li>
			<!-- <li><a href="#"><i class='bx bxs-chart icon' ></i> All Customers</a></li> -->
			<li>
				<a href="#"><i class="icon fa-solid fa-users"></i></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					<li><a href="#">All customers</a></li>
	
				</ul>
			</li>
			<!-- EMPLOYEES -->
			<li class="divider" data-text="Employees">Employees</li>
			<!-- <li><a href="#"><i class='bx bxs-chart icon' ></i> All Employees</a></li> -->
			<li>
				<a href="#"><i class="icon fa-solid fa-user-tie"></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					<li><a href="#">Basic</a></li>
					<li><a href="#">Select</a></li>
					<li><a href="#">Checkbox</a></li>
					<li><a href="#">Radio</a></li>
				</ul>
			</li>
			<!-- OFFICE -->
			<li class="divider" data-text="Offices">Offices</li>
			<!-- <li><a href="#"><i class='bx bxs-chart icon' ></i> All Offices</a></li> -->
			<li>
				<a href="#"><i class="icon fa-solid fa-building"></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					<li><a href="#">Basic</a></li>
					<li><a href="#">Select</a></li>
					<li><a href="#">Checkbox</a></li>
					<li><a href="#">Radio</a></li>
				</ul>
			</li>
			<!-- GAMA -->
			<li class="divider" data-text="Gamas">Gamas</li>
			<!-- <li><a href="#"><i class='bx bxs-chart icon' ></i> All Gamas</a></li> -->
			<li>
				<a href="#"><i class="icon fa-solid fa-square-poll-horizontal"></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					<li><a href="#">Basic</a></li>
					<li><a href="#">Select</a></li>
					<li><a href="#">Checkbox</a></li>
					<li><a href="#">Radio</a></li>
				</ul>
			</li>
			<!-- ORDER DETAILS -->
			<li class="divider" data-text="Order Details">Order Details</li>
			<!-- <li><a href="#"><i class='bx bxs-chart icon' ></i> All Order Details</a></li> -->
			<li>
				<a href="#"><i class="icon fa-solid fa-list-check"></i> Queries <i
						class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					<li><a href="#">Basic</a></li>
					<li><a href="#">Select</a></li>
					<li><a href="#">Checkbox</a></li>
					<li><a href="#">Radio</a></li>
				</ul>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<header class="header">
			<nav>
				<i class='bx bx-menu toggle-sidebar'></i>
				<form action="#">
	
				</form>
	
				<span class="divider"></span>
				<div class="profile">
					<i class="fa-solid fa-user user"></i>
					<ul class="profile-link">
						<li><a href="#"><i class='bx bxs-user-circle icon'></i> Profile</a></li>
						<li><a href="#"><i class='bx bxs-cog'></i> Settings</a></li>
						<li><a href="#"><i class='bx bxs-log-out-circle'></i> Logout</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div id="dashboard"> Welcome ! </div>
			<div class="data" id="content-api">
				

			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
</body>
<script src="app.js" defer type="module"></script>

</html>