@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
	--transparent-dark: rgba(0, 0, 0, 0.2);
	--transparent-ligth: rgba(255, 255, 255, 0.197);
	--light-variant-one: rgba(255, 255, 255, .5);
	--green-dark: rgb(53, 78, 60);
	--red-more: rgb(123, 32, 32);
	--green-ligth: rgba(116, 153, 119, 0.888);
}

html {
	overflow-x: hidden;
}

html,
body {
	height: 100%;
}

body {
	min-height: 100vh;
	background: url("../resources/leaves-2.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	overflow-x: auto;
	position: relative;
	overflow-x: hidden;
}

h2 {
	font-family: "Montserrat", sans-serif;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}


a {
	text-decoration: none;
}

li {
	list-style: none;
}


/* SIDEBAR */
#sidebar {
	position: fixed;
	max-width: 260px;
	width: 100%;
	background: linear-gradient(90deg, rgb(33, 54, 39), var(--green-dark));
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
	overflow: scroll;
}

#sidebar.hide {
	max-width: 60px;
}

#sidebar.hide:hover {
	max-width: 260px;
	background: linear-gradient(90deg, rgb(33, 54, 39), var(--green-dark));
}

#sidebar::-webkit-scrollbar {
	display: none;
}

#sidebar .brand {
	font-size: 24px;
	display: flex;
	align-items: center;
	height: 64px;
	font-weight: 700;
	color: var(--light);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: url("../resources/Brand.svg") no-repeat;
	transition: all .3s ease;
	padding: 0 6px;
	font-family: "Cairo Play", sans-serif;
}

#sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
	font-size: 18px;
}

#sidebar .icon-right {
	margin-left: auto;
	transition: all .3s ease;
}

#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
	font-family: "Cairo Play", sans-serif;
}

#sidebar.hide .side-menu {
	padding: 0 6px;
}

#sidebar.hide:hover .side-menu {
	padding: 0 20px;
}

#sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--light);
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}

#sidebar .side-menu>li>a:hover {
	background: var(--transparent-ligth);
}

#sidebar .side-menu>li>a.active .icon-right {
	transform: rotateZ(90deg);
}

#sidebar .side-menu>li>a.active,
#sidebar .side-menu>li>a.active:hover {
	background: var(--transparent-dark);
	color: var(--light);
}

#sidebar .divider {
	margin-top: 10px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 650;
	color: var(--light-variant-one);
	transition: all .3s ease;
	white-space: nowrap;
}

#sidebar.hide:hover .divider {
	text-align: left;
}

#sidebar.hide .divider {
	text-align: center;
}

#sidebar .side-dropdown {
	padding-left: 54px;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}

#sidebar .side-dropdown.show {
	max-height: 1800px;
}

#sidebar .side-dropdown a:hover {
	font-size: 15px;
	color: rgb(123, 202, 130);
}

#sidebar .ads {
	width: 100%;
	padding: 20px;
}

#sidebar.hide .ads {
	display: none;
}

#sidebar.hide:hover .ads {
	display: block;
}

#sidebar .ads .wrapper {
	background: var(--grey);
	padding: 20px;
	border-radius: 10px;
}

#sidebar .btn-upgrade {
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	color: var(--light);
	background: var(--blue);
	transition: all .3s ease;
	border-radius: 5px;
	font-weight: 600;
	margin-bottom: 12px;
}

#sidebar .btn-upgrade:hover {
	background: var(--dark-blue);
}

#sidebar .ads .wrapper p {
	font-size: 12px;
	color: var(--dark-grey);
	text-align: center;
}

#sidebar .ads .wrapper p span {
	font-weight: 700;
}

#sidebar .fenix {
	font-size: 36px;
}

/* SIDEBAR */



/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}

#sidebar.hide+#content {
	width: calc(100% - 60px);
	left: 60px;
}

nav {
	position: sticky;
	top: 0;
	left: 0;
	height: 64px;
	width: 100%;
	padding: 0 20px;
	display: flex;
	z-index: 100;
	align-items: center;
	grid-gap: 28px;
	background: var(--green-dark);
}

nav::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--green-dark);
	backdrop-filter: blur(50px);
	z-index: -1;

}

nav::after {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(40deg, transparent, rgba(255, 255, 255, .1), transparent);
	transition: 2s;
	overflow: hidden;
}

nav:hover::after {
	left: 100%;
}

nav .toggle-sidebar {
	font-size: 28px;
	cursor: pointer;
	color: var(--light);
}

nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}

nav .form-group {
	position: relative;
}

nav .form-group input {
	width: 100%;
	background: var(--grey);
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 10px 36px 10px 16px;
	transition: all .3s ease;
}

nav .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}

nav .form-group .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--dark-grey);
}

nav .nav-link {
	position: relative;
}

nav .nav-link .icon {
	font-size: 18px;
	color: var(--dark);
}

nav .nav-link .badge {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	font-size: 10px;
	font-weight: 700;
}

nav .divider {
	width: 2px;
	background: var(--transparent-ligth);
	height: 20px;
	display: block;
}

nav .profile {
	position: relative;
}

nav .profile .user {
	color: var(--light);
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

nav .profile .profile-link {
	z-index: 9999;
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	background: var(--light);
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 160px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}

nav .profile .profile-link.show {

	background-color: var(--green-ligth);
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}

nav .profile .profile-link a {
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: var(--light);
	align-items: center;
	transition: all .3s ease;
}

nav .profile .profile-link a:hover {
	background: var(--transparent-dark);
}

nav .profile .profile-link i {
	font-size: 20px;
	color: var(--light);
}

.divider {
	color: var(--blue);
}

/* NAVBAR */


/* MAIN */
main {
	width: 100%;
	padding: 0px 20px 20px 20px;
	color: var(--light);
}

#dashboard {
	font-family: "Cairo Play", sans-serif;
	font-size: 5rem;
	font-weight: 650;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 100%);
}

main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--light);
}

main .breadcrumbs {
	display: flex;
	grid-gap: 6px;
}

main .breadcrumbs li,
main .breadcrumbs li a {
	font-size: 14px;
}

main .breadcrumbs li a {
	color: var(--blue);
}

main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
	color: var(--dark-grey);
	pointer-events: none;
}


main .data {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
	grid-gap: 10px;
	margin-top: 20px;
}

main .data>* {
	padding: 5px;
	margin-bottom: 0px;
}

main .chat-box {
	width: 100%;
	max-height: 360px;
	overflow-y: auto;
	scrollbar-width: none;
}

main .chat-box::-webkit-scrollbar {
	display: none;
}

main .chat-box .day {
	text-align: center;
	margin-bottom: 10px;
}

main .chat-box .day span {
	display: inline-block;
	padding: 6px 12px;
	border-radius: 20px;
	background: var(--light-blue);
	color: var(--blue);
	font-size: 12px;
	font-weight: 600;
}

main .chat-box .msg .user {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;
}

main .chat-box .msg {
	display: flex;
	grid-gap: 6px;
	align-items: flex-start;
}

main .chat-box .profile .username {
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	margin-right: 6px;
}

main .chat-box .profile .time {
	font-size: 12px;
	color: var(--dark-grey);
}

main .chat-box .chat p {
	font-size: 14px;
	padding: 6px 10px;
	display: inline-block;
	max-width: 400px;
	line-height: 150%;
}

main .chat-box .msg:not(.me) .chat p {
	border-radius: 0 5px 5px 5px;
	background: var(--blue);
	color: var(--light);
}

main .chat-box .msg.me {
	justify-content: flex-end;
}

main .chat-box .msg.me .profile {
	text-align: right;
}

main .chat-box .msg.me p {
	background: var(--grey);
	border-radius: 5px 0 5px 5px;
}

main form {
	margin-top: 6px;
}

main .form-group {
	width: 100%;
	display: flex;
	grid-gap: 10px;
}

main .form-group input {
	flex-grow: 1;
	padding: 10px 16px;
	border-radius: 5px;
	outline: none;
	background: var(--grey);
	border: none;
	transition: all .3s ease;
	width: 100%;
}

main .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}

main .btn-send {
	padding: 0 16px;
	background: var(--blue);
	border-radius: 5px;
	color: var(--light);
	cursor: pointer;
	border: none;
	transition: all .3s ease;
}

main .btn-send:hover {
	background: var(--dark-blue);
}

.user {
	margin-right: 1rem;
	margin-top: .4rem;
	font-size: 26px;
}
/* MAIN */
/* CONTENT */


/* CARD */
.content-data {
	color: white;
	position: relative;
	font-family: sans-serif;
}

.content-data .box {
	height: 19em;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.055);
	border: 1px solid rgba(255, 255, 255, 0.222);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	border-radius: 0.7rem;
	transition: all ease 0.3s;
}

.content-data.medium .box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 400px;
}

.content-data.medium .box div {
	text-align: center;
}


.content-data.big .box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content-data .box .title {
	padding-bottom: .4rem;
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 0.1em;
}

.content-data .box div strong {
	display: block;
	margin-bottom: 0.5rem;
}

.content-data .box div p
 {
	margin: 0;
	font-size: 0.9em;
	font-weight: 200;
	letter-spacing: 0.1em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
}

.content-data .box div span {
	font-size: .9rem;
	font-weight: 300;
}

.content-data .box div span:nth-child(3) {
	font-weight: 500;
	margin-right: 0.2rem;
}

.content-data .box:hover {
	box-shadow: 0px 0px 20px 1px #ffbb763f;
	border: 1px solid rgba(255, 255, 255, 0.454);
}
/* CARD */



@media screen and (max-width: 768px) {
	#content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}

	nav .nav-link,
	nav .divider {
		display: none;
	}
	main .data{
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	}	
} 

div#swal2-html-container.swal2-html-container, h2#swal2-title.swal2-title  {
	font-family: "Montserrat", sans-serif;
}

